version: "3.9"

services:

  webgoat:
    container_name: webgoat
    image: santosomar/webgoat
    restart: unless-stopped
    networks:
      websploit:
        ipv4_address: 10.6.6.11

  juice-shop:
    container_name: juice-shop
    image: bkimminich/juice-shop
    restart: unless-stopped
    networks:
      websploit:
        ipv4_address: 10.6.6.12

  dvwa:
    container_name: dvwa
    image: santosomar/dvwa
    restart: unless-stopped
    networks:
      websploit:
        ipv4_address: 10.6.6.13

  mutillidae_2:
    container_name: mutillidae_2
    image: santosomar/mutillidae_2
    restart: unless-stopped
    networks:
      websploit:
        ipv4_address: 10.6.6.14

  dvna:
    container_name: dvna
    image: santosomar/dvna
    restart: unless-stopped
    networks:
      websploit:
        ipv4_address: 10.6.6.15

  hackazon:
    container_name: hackazon
    image: santosomar/hackazon
    restart: unless-stopped
    networks:
      websploit:
        ipv4_address: 10.6.6.16

  galactic-archives:
    container_name: galactic-archives
    image: santosomar/galactic-archives
    restart: unless-stopped
    networks:
      websploit:
        ipv4_address: 10.6.6.20

  gravemind:
    container_name: gravemind
    image: santosomar/gravemind
    restart: unless-stopped
    networks:
      websploit:
        ipv4_address: 10.6.6.23

  dc30_01:
    container_name: dc30_01
    image: santosomar/dc30_01:latest
    restart: unless-stopped
    networks:
      websploit:
        ipv4_address: 10.6.6.24

  dc30_02:
    container_name: dc30_02
    image: santosomar/dc30_02:latest
    restart: unless-stopped
    networks:
      websploit:
        ipv4_address: 10.6.6.25

  y-wing:
    container_name: y-wing
    image: santosomar/ywing:latest
    restart: unless-stopped
    networks:
      websploit:
        ipv4_address: 10.6.6.26

  # WebSploit2 Network
  dc31_01:
    container_name: dc31_01
    image: santosomar/dc31_01:latest
    restart: unless-stopped
    networks:
      websploit2:
        ipv4_address: 10.7.7.21

  dc31_03:
    container_name: dc31_03
    image: santosomar/dc31_03:latest
    restart: unless-stopped
    networks:
      websploit2:
        ipv4_address: 10.7.7.23

# Network configuration
networks:
  websploit:
    driver: bridge
    ipam:
      config:
        - subnet: 10.6.6.0/24
          gateway: 10.6.6.1

  websploit2:
    driver: bridge
    ipam:
      config:
        - subnet: 10.7.7.0/24
          gateway: 10.7.7.1
